---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
image: images/nlml.png
---

{% if page.image %}
<meta content="http://nlml.github.io/{{ page.image }}" property="og:image">
{% else %}
<meta content="http://nlml.github.io/images/nlml.png" property="og:image">
{% endif %}

{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}